$black: #000;
$white: #fff;
$btn: #00E9FF;
$btnBorder: #00A3B2;
$btnHover: #FF6A00;

@mixin flexStyle {
  align-items: center;
  display: flex;
  font-size: 4em;  
  height: 25vh;   
  justify-content: center;
}
  
#drum-machine {
  background-color: $btnBorder;
  #display {
    @include flexStyle;
    background-color: $black;
    color: $white;
  }
  #drumpads {
    display: flex;
    flex-wrap: wrap;
    .drum-pad {
      @include flexStyle;
      background-color: $btn;
      box-sizing: border-box;
      border-bottom: 2px solid $btnBorder;
      color: $btnBorder;
      cursor: pointer;
      margin: 0 auto;
      width: calc(99vw / 3);
      &:hover {
        background-color: $btnHover;
        color: $btn;
        }
      }
    }
  }
